*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

.header__container, .hero__container, .quiz__container, .finish__container, .data__table, .footer__container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 375px) {
  .header__container, .hero__container, .quiz__container, .finish__container, .data__table, .footer__container {
    max-width: 375px;
    padding-left: 23px;
    padding-right: 23px;
  }
}

@media screen and (min-width: 1200px) {
  .header__container, .hero__container, .quiz__container, .finish__container, .data__table, .footer__container {
    max-width: 653px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #315DFA;
  color: #AFDCE5;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.header__container {
  padding: 13px 20px;
}

.header__link {
  text-decoration: none;
  color: inherit;
}

.header__title {
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 0.94;
}

.header__subtitle {
  margin-top: 5px;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 0.94;
}

.hero {
  padding-top: 10px;
}

.hero__background {
  position: relative;
}

.hero__title {
  margin-top: 10px;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.29;
  color: #315DFA;
}

.hero__text {
  margin-top: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  color: #343B4D;
}

.hero__circle {
  position: absolute;
  width: 50%;
  -webkit-transition: all 20s linear;
  transition: all 20s linear;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-animation: move 20s infinite linear;
          animation: move 20s infinite linear;
}

.hero__image {
  width: 100%;
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes move {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.quiz {
  padding-top: 15px;
}

.quiz__question {
  display: none;
}

.quiz__question.isActive {
  display: block;
}

.quiz__progress {
  position: relative;
  margin-top: 20px;
  margin-bottom: 25px;
  width: 100%;
  height: 8px;
  background-color: #F3F4F8;
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.quiz__progress::before {
  content: '';
  position: absolute;
  height: 8px;
  width: 26px;
  top: 0;
  left: 0;
  background-color: #B53E42;
}

.quiz__progress--three::before {
  content: '';
  position: absolute;
  height: 8px;
  width: 67px;
  top: 0;
  left: 0;
  background-color: #B53E42;
}

.quiz__progress--four::before {
  content: '';
  position: absolute;
  height: 8px;
  width: 131px;
  top: 0;
  left: 0;
  background-color: #B53E42;
}

.quiz__progress--five::before {
  content: '';
  position: absolute;
  height: 8px;
  width: 194px;
  top: 0;
  left: 0;
  background-color: #B53E42;
}

.quiz__progress--six::before {
  content: '';
  position: absolute;
  height: 8px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #B53E42;
}

.quiz__title {
  padding: 15px 22px;
  background-color: #343B4D;
  color: #ffffff;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.57;
}

.quiz__answer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #F3F4F8;
}

.quiz__answer--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 45px;
  padding-bottom: 53px;
}

.quiz__answer--date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #F3F4F8;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quiz__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
}

.quiz__label--column {
  padding-left: 17px;
}

.quiz__label--column:nth-last-child(n+2) {
  margin-bottom: 30px;
}

.quiz__label--active {
  color: #315DFA;
  font-weight: 700;
}

.quiz__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  margin-right: 5px;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  outline: none;
  border: 1px solid #D6D6D6;
  background-color: #ffffff;
}

.quiz__input:checked::before {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  background-color: #343B4D;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.quiz__input:checked + .quiz__label {
  color: #315DFA;
}

.quiz__button {
  display: none;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 70px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.57;
  color: #ffffff;
  background-color: #315DFA;
  border: none;
}

.quiz__button:active {
  background-color: #355ADF;
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.quiz__button--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
  margin-left: auto;
  margin-right: auto;
  width: 288px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.57;
  text-align: center;
}

.quiz__button--active::before {
  content: '';
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 30px;
  margin-left: 20px;
  width: 27px;
  height: 26px;
  background-image: url("../images/svg/call.svg");
}

.quiz__days, .quiz__monthes, .quiz__years {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  margin-bottom: 15px;
  padding-left: 15px;
  padding-right: 30px;
  width: 186px;
  height: 45px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  border: 1px solid #E4E4E4;
  background-image: url("../images/svg/arrow.svg");
  background-repeat: no-repeat;
  background-position: 161px;
}

.quiz__day, .quiz__month, .quiz__year {
  width: 186px;
}

.quiz__warning {
  display: none;
  margin-top: 23px;
  padding: 7px 30px;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 1.69;
  color: #D0060E;
  background-color: #FFD8CF;
}

.quiz__zodiac {
  display: none;
}

.quiz__zodiac.isActive {
  display: block;
}

.quiz__zodiacText {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 2.20;
  text-align: center;
}

.finish {
  display: none;
  padding-top: 35px;
}

.finish__result {
  display: none;
}

.finish__result.isActive {
  display: block;
}

.finish__container {
  margin: 0 auto;
}

.finish__title {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.36;
}

.finish__progress {
  margin-top: 20px;
  width: 100%;
  height: 42px;
  background-color: #F3F4F8;
}

.finish__progress--green {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  background-color: #419330;
  width: 0;
  color: #ffffff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.57;
}

.finish__list {
  margin-top: 25px;
  list-style: none;
}

.finish__item {
  display: none;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.33;
}

.finish__item.isActive {
  display: block;
}

.finish__item--green {
  color: #419330;
}

.finish__item--red {
  color: #D0060E;
  font-weight: 700;
  line-height: 4;
}

.finish__item:nth-last-child(n+2) {
  padding-bottom: 15px;
}

.finish__text {
  display: none;
  margin-top: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.33;
}

.finish__greets {
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.50;
}

.finish__greets--blue {
  color: #315DFA;
  font-weight: 500;
}

.finish__greets--bold {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.05;
}

.finish__table {
  margin-top: 20px;
}

.data__table {
  width: 100%;
}

.data__table th {
  padding: 15px 10px;
  text-align: left;
  color: #ffffff;
  background-color: #315DFA;
}

.data__table td {
  border: 1px solid #315DFA;
  text-align: center;
}

.footer {
  position: absolute;
  width: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.footer__text {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 2.22;
  text-align: center;
  color: #D6D6D6;
}
/*# sourceMappingURL=main.css.map */