.header {
    background-color: $blueColor;
    color: #AFDCE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

    &__container {
        @extend %container;
        padding: 13px 20px;
    }

    &__link {
        text-decoration: none;
        color: inherit;
    }

    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 0.94;
    }

    &__subtitle {
        margin-top: 5px;
        margin-bottom: 0;

        font-style: normal;
        font-weight: 700;
        font-size: 10px;
        line-height: 0.94;
    }
}

.hero {
    padding-top: 10px;

    &__container {
        @extend %container;
    }

    &__background {
        position: relative;
    }

    &__title {
        margin-top: 10px;

        font-weight: 500;
        font-size: 17px;
        line-height: 1.29;
        color: $blueColor;
    }

    &__text {
        margin-top: 10px;

        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.36;
        color: $blackColor;
    }

    &__circle {
        position: absolute;
        width: 50%;
        transition: all 20s linear;
        transform: rotate(0deg);
        animation: move 20s infinite linear;
    }

    &__image {
        width: 100%;
    }
}

@keyframes move {
    0% {
        transform: rotate(0deg)
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.quiz {
    padding-top: 15px;

    &__container {
        @extend %container;
    }

    &__question {
        display: none;
    }

    &__question.isActive {
        display: block;
    }

    &__progress {
        position: relative;
        margin-top: 20px;
        margin-bottom: 25px;

        width: 100%;
        height: 8px;
        background-color: #F3F4F8;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

        &::before {
            content: '';
            position: absolute;
            height: 8px;
            width: 26px;
            top: 0;
            left: 0;
            background-color: #B53E42;
        }

        &--three::before {
            content: '';
            position: absolute;
            height: 8px;
            width: 67px;
            top: 0;
            left: 0;
            background-color: #B53E42;
        }

        &--four::before {
            content: '';
            position: absolute;
            height: 8px;
            width: 131px;
            top: 0;
            left: 0;
            background-color: #B53E42;
        }

        &--five::before {
            content: '';
            position: absolute;
            height: 8px;
            width: 194px;
            top: 0;
            left: 0;
            background-color: #B53E42;
        }

        &--six::before {
            content: '';
            position: absolute;
            height: 8px;
            width: 100%;
            top: 0;
            left: 0;
            background-color: #B53E42;
        }
    }

    &__title {
        padding: 15px 22px;
        background-color: $blackColor;
        color: #ffffff;
        text-align: center;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.57;
    }

    &__answer {
        display: flex;
        justify-content: space-around;

        padding-top: 25px;
        padding-bottom: 25px;

        background-color: $grayColor;

        &--column {
            flex-direction: column;
            padding-top: 45px;
            padding-bottom: 53px;
        }

        &--date {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            
            padding-top: 25px;
            padding-bottom: 25px;
            
            background-color: $grayColor;
            align-items: center;
        }
    }

    &__label {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.57;
        
        &--column {
            padding-left: 17px;
        }

        &--column:nth-last-child(n+2) {
            margin-bottom: 30px;
        }
    }

    &__label--active {
        color: $blueColor;
        font-weight: 700;
    }

    &__input {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        position: relative;

        margin-right: 5px;

        width: 16px;
        height: 16px;
        
        border-radius: 100%;
        outline: none;
        border: 1px solid #D6D6D6;
        background-color: #ffffff;

        &:checked::before {
            content: '';
            position: absolute;
            width: 5px;
            height: 5px;
            top: 50%;
            left: 50%;
            border-radius: 100%;
            background-color: $blackColor;
            transform: translate(-50%, -50%);
        }

        &:checked + .quiz__label {
            color: $blueColor;
        }
    }

    &__button {
        display: none;
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
        padding: 12px 70px;

        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.57;

        color: #ffffff;
        background-color: $blueColor;
        border: none;

        &:active {
            background-color: #355ADF;
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        &--active {
            display: flex;
            align-items: center;
            padding: 10px 0;
            margin-left: auto;
            margin-right: auto;
            width: 288px;


            text-transform: uppercase;
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 1.57;
            text-align: center;

            &::before {
                content: '';
                display: inline-flex;
                margin-right: 30px;
                margin-left: 20px;
                width: 27px;
                height: 26px;
                background-image: url('../images/svg/call.svg')
            }
        }
    }

    &__days, &__monthes, &__years {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        position: relative;

        margin-bottom: 15px;
        padding-left: 15px;
        padding-right: 30px;
        width: 186px;
        height: 45px;

        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.57;

        border: 1px solid #E4E4E4;
        background-image: url('../images/svg/arrow.svg');
        background-repeat: no-repeat;
        background-position: 161px;
    }

    &__day, &__month, &__year {
        width: 186px;
    }

    &__warning {
        display: none;
        margin-top: 23px;
        padding: 7px 30px;
        font-style: normal;
        font-weight: 300;
        font-size: 13px;
        line-height: 1.69;
        color: #D0060E;
        background-color: #FFD8CF;
    }

    &__zodiac {
        display: none;
    }

    &__zodiac.isActive {
        display: block;
    }

    &__zodiacText {
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 2.20;
        text-align: center;
    }

}

.finish {
    display: none;
    padding-top: 35px;

    &__result {
        display: none;

        &.isActive {
            display: block;
        }
    }

    &__container {
        @extend %container;
        margin: 0 auto;
    }

    &__title {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.36;
    }

    &__progress {
        margin-top: 20px;

        width: 100%;
        height: 42px;
        background-color: #F3F4F8;

        &--green {
            display: flex;
            height: 100%;
            background-color: #419330;
            width: 0;
            color: #ffffff;
            justify-content: center;
            align-items: center;
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 1.57;
        }
    }

    &__list {
        margin-top: 25px;

        list-style: none;
    }

    &__item {
        display: none;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 1.33;

        &.isActive {
            display: block;
        }

        &--green {
            color: #419330;
        }

        &--red {
            color: #D0060E;
            font-weight: 700;
            line-height: 4;
        }
    }

    &__item:nth-last-child(n+2) {
        padding-bottom: 15px;
    }

    &__text {
        display: none;
        margin-top: 30px;

        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 1.33;
    }

    &__greets {
        margin-top: 20px;

        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.50;

        &--blue {
            color: $blueColor;
            font-weight: 500;
        }

        &--bold {
            display: block;
            font-weight: 500;
            font-size: 18px;
            line-height: 1.05;
        }
    }

    &__table {
        margin-top: 20px;
    }
}

.data {
    &__table {
        @extend %container;
        width: 100%;

        & th {
            padding: 15px 10px;
            text-align: left;
            color: #ffffff;
            background-color: $blueColor;
        }

        & td {
            border: 1px solid $blueColor;
            text-align: center;
        }
    }
}

.footer {
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);

    &__container {
        @extend %container;
    }

    &__text {
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 2.22;
        text-align: center;
        color: #D6D6D6;
    }
}